In [1]:
import pandas as pd
import datetime
from datetime import timedelta
from datetime import datetime

In [2]:
df_orig=pd.read_excel("master_file_final.xlsx")
# confine the year range 2010-2021
df=df_orig[(df_orig['TxStartDt'].dt.year <= 2021)&(df_orig['TxStartDt'].dt.year>=2010)]

In [3]:
df['SiteGroup'].unique()

array(['LUNG', 'GENITOURINARY(GU)', 'GI LOWER', 'GYNAE', 'BREAST',
       'GI UPPER', 'ENT (HEAD & NECK)', 'Oligomets', 'LYMPHOMA', 'CNS',
       'SARCOMA', 'SKIN', 'ENDOCRINE', 'EYE', 'Unknown', 'PAEDIATRIC',
       'PAIN', nan], dtype=object)

In [5]:
df_sites = pd.read_excel("AllNumArrival.xlsx")
df_sites.fillna(0, inplace=True)
df_sites.head()

,Unnamed: 0,YearMonth,Total,LUNG,GENITOURINARY(GU),GI LOWER,GYNAE,GI UPPER,BREAST,ENT (HEAD & NECK),Oligomets,LYMPHOMA,CNS,SARCOMA,SKIN,ENDOCRINE,EYE,Unknown,PAEDIATRIC,PAIN
0,0,2010-01-01,316,60,36,16,19,18,54,30,0.0,24,27,9,9.0,4,5.0,0.0,5,0.0
1,1,2010-02-01,419,59,64,15,20,21,78,49,0.0,42,34,20,5.0,3,2.0,0.0,7,0.0
2,2,2010-03-01,456,61,63,23,23,33,82,62,0.0,34,49,9,6.0,7,0.0,0.0,4,0.0
3,3,2010-04-01,427,69,46,15,18,23,77,58,0.0,50,32,13,8.0,3,4.0,0.0,11,0.0
4,4,2010-05-01,446,77,67,19,15,26,99,33,0.0,37,31,11,8.0,8,6.0,0.0,9,0.0

In [ ]:
# percentage of emergency 1 patients per site group, over time

In [ ]:
# count total arrivals by months
df_count_all = df.groupby([df['TxStartDt'].dt.year.rename('Year'), 
                           df['TxStartDt'].dt.month.rename('Month')]).count().reset_index()
df_count_all = df_count_all[['Year','Month','MRN']]
df_count_all['dateInt']= df_count_all['Year'].astype(str) + df_count_all['Month'].astype(str).str.zfill(2)
df_count_all['YearMonth'] = pd.to_datetime(df_count_all['dateInt'], format='%Y%m')

#df_count_all.set_index('YearMonth', inplace=True)
#df_count_all = df_count_all['MRN']
df_count_all.rename(columns={'MRN':'Total'}, inplace = True)
df_count_all = df_count_all[['YearMonth','Total']]

In [ ]:
df_count = df.groupby([df['TxStartDt'].dt.year.rename('Year').rename('Year'),
                      df['TxStartDt'].dt.month.rename('Month')]).count().reset_index()

In [ ]:
df_count

In [ ]:
# count by Category and Sitegroup
df_count = df.groupby([df['TxStartDt'].dt.year.rename('Year'), 
                       df['TxStartDt'].dt.month.rename('Month'),
                       df['Category_x'].rename('Category')#,
                       #df['Sitegroup_y'].rename('Sitegroup')
                      ]).count().reset_index()
df_count = df_count[['Year','Month','Category','SiteGroup','MRN']]

In [ ]:
# count total number by Sitegroup only
df_count_sitegroup = df.groupby([df['TxStartDt'].dt.year.rename('Year'), 
                       df['TxStartDt'].dt.month.rename('Month'),
                       df['Sitegroup_y'].rename('Sitegroup')]).count().reset_index()
df_count_sitegroup = df_count_sitegroup[['Year','Month','Sitegroup','MRN']]

### reset year-month format and set it as the index
df_count_sitegroup['dateInt']= df_count_sitegroup['Year'].astype(str) + df_count_sitegroup['Month'].astype(str).str.zfill(2)
df_count_sitegroup['YearMonth'] = pd.to_datetime(df_count_sitegroup['dateInt'], format='%Y%m')
#df_count_sitegroup.set_index('YearMonth', inplace=True)

In [ ]:
### BREAST patients
site = 'BREAST'
df_breast = df_count_sitegroup[df_count_sitegroup['Sitegroup']==site]
df_breast = df_breast[['Sitegroup','MRN']]
df_breast.rename(columns={"MRN":site}, inplace = True)

df_test = df_count_all.merge(df_breast, on='YearMonth', how='left')

In [ ]:
### create excel writer
writer = pd.ExcelWriter('AllNumArrival.xlsx')
# write dataframe to excel sheet named 'marks'
result.to_excel(writer, "all")
# save the excel file
writer.save()
print('DataFrame is written successfully to Excel Sheet.')